{% extends 'base.html' %}

{% block content %}
<h1>{{ salon.title }} - Mashinalar</h1>

{% if cars %}
    <ul>
        {% for car in cars %}
            <li>
                <strong>{{ car.model }}</strong> - {{ car.price }}$
                ({{ car.year }} | {{ car.color }})
                {% if car.img %}
                    <br>
                    <img src="{{ car.img.url }}" alt="{{ car.model }}">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Bu salon uchun mashina qo‘shilmagan.</p>
{% endif %}
{% endblock %}




{% for car in cars %}
    <div>
        <h3>{{ car.model_name }}</h3>
        <p>Brend: {{ car.brend.title }}</p>
        <p>Narx: {{ car.price }}</p>
        <a href="{% url 'car_qr_pdf' car.id %}" target="_blank">📥 QR PDF yuklab olish</a>
    </div>
    <hr>
{% endfor %}
